.gallery-card-wrapper {
    position: relative;
    border-radius: 12px;
    height: 290px;
    min-width: 350px;
    z-index: -1;
}

.gallery-card-wrapper:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    border-radius: 12px;
    z-index: -1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.gallery-card-content {
    position: absolute;
    bottom: 22px;
    left: 24px;
}
